{% extends 'core/base.html'%}
{%block content%}
<h1 class='text-3xl '>About us</h1>
    <br>
    <br>
    <p>At ProjectMatch, we understand the pivotal importance of the final year project in a student's academic journey. It's not just a culmination of years of learning; it's a stepping stone towards real-world application of knowledge and skills. Whether you're a student eager to delve into a practical project, a company seeking fresh perspectives, or a lecturer looking to mentor and guide budding talents, ProjectMatch is here to bridge the gap.
<br> <br>
      Our platform offers a seamless and intuitive interface designed to streamline the process of project selection and placement. Students can explore a diverse range of projects offered by reputable companies and experienced lecturers across various fields of study. With detailed project descriptions, requirements, and objectives provided upfront, students can make informed decisions that align with their interests, expertise, and career aspirations.
      <br><br>  
      For companies and lecturers, ProjectMatch provides a unique opportunity to engage with bright, motivated individuals who bring fresh insights and energy to their projects. By joining our platform, you gain access to a pool of talent ready to tackle challenges, innovate, and deliver tangible results.r.</p>


{%endblock%}